<header>
    <h1>¡Bienvenido a la cocina bostera!</h1>
</header>
<body>
    <section>
        <form action='@Url.Action("GenerarReceta", "Home")' method="POST">
            Nombre: <input class="caja" type="text" name="nombre"><br/>
            Fecha de nacimiento: <input class="caja" type="date" name="fechaNacimiento"><br/>
            Tipo de comida:<br/>
            <input type="radio" name="tipoComida" value="caliente"> Caliente<br/>
            <input type="radio" name="tipoComida" value="frio"> Frío<br/>
            Presupuesto (en pesos): $<input class="caja" type="number" name="presupuesto"><br/>
            Cantidad de personas: <input class="caja"type="number" name="cantPersonas"><br/>
            <button type="submit">Enviar</button>
        </form>
    </section>
</body>